<table class="row header">
  <tr>
    <td>
       <p>
        サンプルECサイトへ仮登録いただきまして、誠にありがとうございます。<br>
        本登録は下記の URL をクリックして完了いたします。
      </p>
      <p>
        <p class="body-action">
          <a href="<%= @confirmation_url %>" class="button button--green">メールアドレスを認証し、本登録を行う</a>
        </p>
      </p>
      <p>
        ※このリンクから会員登録のお手続きを行わないと、ウタマスパイスジャパンの本登録は完了いたしません。<br>
        ※仮登録から、メールに記載されたリンクをクリックしないまま24時間が経過した場合、ご登録申請が解除となりますのでご注意ください。
      </p>
      <p>
        ご不明な点やお困りのことがございましたら、お気軽にお問い合わせください。
      </p>
      <p>
        --------------------------------------------------------------------------<br>
        サンプルECサイト<br>
        Mail:
        "任意のメールアドレス"<br>
        （土日祝、夏期休暇、年末年始除く10：00〜17：00）<br>
        URL:https://<br>
        --------------------------------------------------------------------------
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>

